<h1 class="mt-5">Bienvenido a PseudoYapo!</h1>
<h3>Por favor ingrese con su email y contraseña:</h3>
<%= form_with model: @user, url: sessions_path, method: :post do |f| %>
<div class="form-group">
  <div class="form-row">
    <div class="col">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Ingrese su email...' %>
    </div>
    <div class="col">
      <%= f.password_field :password, class: 'form-control', placeholder: 'Ingrese su contraseña...' %>
    </div>
    <%= f.submit 'Ingresar', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

<h4>Si aún no se registra, <%= link_to 'hágalo aquí', new_user_path, class: 'btn btn-primary' %></h4>
