<%= form_with model: @user do |f| %>
<div class="form-group">
  <div class="form-row">
    <div class="col col-sm-6 col-md-3 my-2">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Ingrese su nombre...' %>
    </div>
    <div class="col col-sm-6 col-md-3 my-2">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Ingrese su email...' %>
    </div>
    <div class="col col-sm-6 col-md-3 my-2">
      <%= f.password_field :password, class: 'form-control', placeholder: 'Ingrese su contraseña...' %>
    </div>
    <div class="col col-sm-6 col-md-3 my-2">
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme su contraseña...' %>
    </div>
    <%= f.submit 'Ingresar', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
