<%= form_with model: @product do |f| %>
<div class="form-group">
  <div class="form-row">
    <div class="col-xs-12 col-sm-6 col-md-5 my-2">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Nombre del producto...' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 my-2">
      <%= f.url_field :image, class: 'form-control', placeholder: 'URL de la imagen del producto...' %>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 my-2">
      <%= f.number_field :price, class: 'form-control', placeholder: '$...' %>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-12 my-2">
      <%= f.text_area :description, class: 'form-control', placeholder: 'Ingrese la descripción del producto...' %>
    </div>
    <div class="col-sm-12">
      <h1><%= f.submit 'Publicar aviso!', class: 'btn btn-primary w-100' %></h1>
    </div>
  </div>
</div>
<% end %>
