<div class="row">
  <% @products.each do |p| %>
    <% unless is_purchased?(p) %>
    <div class="card mx-auto my-2" style="width: 18rem;">
      <img class="card-img-top" src="<%= p.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= p.name.capitalize %></h5>
        <h6 class="card-subtitle mb-2 text-muted">$<%= number_with_delimiter(p.price.to_i, delimiter: '.').to_s %>.-</h6>
        <p class="card-text"><%= p.description.truncate(100) %></p>
        <%= link_to 'Comprar', purchases_path(product_id: p.id), class: 'btn btn-primary', method: :post, data: {confirm: "Está seguro de que desea comprar #{p.name.capitalize}?"} %>
      </div>
      <div class="card-footer text-muted">
        <% if user_signed_in? %>
          <%= link_to "Publicado por: #{product_owner(p).name}", '#', data: {toggle: 'modal', target: '.modal'} %>
        <% else %>
          Publicado por: <%= product_owner(p).name %>
        <% end %>
      </div>
      <!-- MODAL START -->
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Perfil del usuario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-512.png" class="card-img" alt="user">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= product_owner(p).name %></h5>
                      <p class="card-text">Email: <%= product_owner(p).email %></p>
                      <p class="card-text"><small class="text-muted">Usuario registrado hace <%= time_ago_in_words(product_owner(p).created_at) %></small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
