<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">PseudoYapo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Registro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a class="dropdown-item" href="<%= user_path(current_user) %>">Ver perfil</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Cerrar sesión', session_path(id: current_user.id), method: :delete, class: 'dropdown-item' %>
          <% else %>
            <a class="dropdown-item" href="<%= new_session_path %>">Ingresar</a>
            <a class="dropdown-item" href="<%= new_user_path %>">Registrarse</a>
          <% end %>
        </div>
      </li>
      <li class="nav-item <%= active_if('products', 'index') %>">
        <a class="nav-link" href="<%= root_path %>">Comprar</a>
      </li>
      <li class="nav-item <%= active_if('products', 'new') %>">
        <a class="nav-link" href="<%= new_product_path %>">Vender</a>
      </li>
    </ul>
  </div>
</nav>
