  <div class="new-user-form">
    <h2>Register new user</h2>
  <%= form_with model: @user do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="form-group">
    <%= form.submit class: 'btn btn-default' %>
  </div>
  <% end %>
  </div>
<script type="text/javascript">
  $('body').toggleClass('background-gradient');
</script>
